body {
    background-color: #1e1e1e;
    font-family: Calibri;
    color: #ffffff;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    background-color: #1e1e1e;
    border: 2px solid #1e1e1e;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    margin: auto;
    display: block;
}

.content-input {
    min-height: 80px;
}

.container {
    background-color: #313033;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.btn-group button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-group button:hover {
    background-color: #3d002e;
}

.btn-group button:active {
    animation-name: click;
    animation-duration: .2s;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

h1 {
    font-size: 42px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.darker {
    background-color: #282729;    
}